/* Expense.css */


.expense-form {
  
  width: 60%;
  margin:2% auto;
  background-color: rgba(81, 79, 79, 0.288);
  padding: 1rem;
  border-radius: 8px;
}

.form-control {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

}

.form-label {
  display: flex;
  margin-bottom: 8px;
  font-size: 1.8rem;

}

.form-input,
.form-button {
    font-size: 1.5rem;
  width: auto;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #201f1f;
  color: #fff;
}

.form-button {
  background-color: #4caf50;
  width: 100%;
  color: #fff;
  cursor: pointer;
}
.form-button:hover{
  background-color: #2a6c2c;
  color:#ffffff8f
}

.expense-list {
  max-width: 600px;
  margin: auto;
}

.expenses {
  list-style: none;
  padding: 0;
}

.expense-item {
  background-color: #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-item-desc,
.expense-item-price,
.expense-item-category {
    color:white;
  flex: 1;
  margin-right: 10px; 
}
.delBtn{
  color:white;
  background-color: rgba(255, 0, 0, 0.799);
  width: 5rem;
  border-radius: 5%;
  box-shadow: 0 2px 3px 2px rgba(84, 80, 80, 0.656);
  cursor: pointer;
}
.delBtn:hover{
  color:rgba(255, 255, 255, 0.848);
  background-color: rgba(136, 34, 34, 0.803);
}

.editBtn{
  color:white;
  background-color: transparent;
  width:5rem;
  border-radius: 5%;
  box-shadow: 0 2px 3px 2px rgba(84, 80, 80, 0.656);
  cursor: pointer;
}
.editBtn:hover{
  color:rgba(255, 255, 255, 0.848);
  background-color: rgb(137, 134, 134);
}

@media (max-width: 768px) {
  .expense-item {
    flex-direction: column;
  }
}
