.HereBtn{
    color:Green;
    background-color: transparent;
    font-size: 2rem;
    border:none;cursor: pointer;
    
}
.HereBtn:hover{
    color:rgba(0, 128, 0, 0.83);
    font-size: 2.1rem;
    border-bottom: 8px solid green;
}

.Home{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.Home h1{
    text-align: center;
}

.Home section{
    text-align: center;
}

.Home section p{
    font-size: 2rem;
}

/* Profile */


.profileUpdataForm{
    display: flex;
    flex-direction: column;

    
}
.profileUpdataForm h1{
    color:blue;
    justify-content: center;
    background-color: aquamarine;
    display: flex;
    
}



.labelInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelInput label{
    font-size: 2rem;
}

.labelInput input{
    font-size: 2rem;
    padding: 5px;
}

.buttonUpdate{

    display: flex;
   
    width: 100%;
    justify-content: center;
    /* background-color: black; */
    margin-top: 1rem; 

}

.buttonUpdate button{
    width: auto;
    font-size: 1.5rem;
    color:white;
    background-color: blue;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 3px 2px rgba(107, 106, 106,200);

}

.buttonVerifyEmail{
    display: flex;
   
    width: 100%;
    justify-content: center;
    /* background-color: black; */
    margin-top: 1rem; 
}


.buttonVerifyEmail button{
    width: auto;
    font-size: 1.5rem;
    color:black;
    background-color:transparent;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 3px 2px rgba(107, 106, 106,200);

}