.HereBtn{
    color:Green;
    background-color: transparent;
    font-size: 2.5rem;
    border:none;cursor: pointer;
    font-weight: bold;
    margin: 1rem;
    
    
}
.HereBtn:hover{
    color:rgba(0, 128, 0, 0.83);
    font-size: 2.1rem;
    border: 8px solid green;
    font-weight: bold;
}

.Home{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.Home h1{
    text-align: center;
}

.Home section{
    text-align: center;
}

.Home section p{
    font-size: 2rem;
}

/* Profile */


.profileUpdataForm{
    display: flex;
    flex-direction: column;

    
}
h1{
    /* background-color: aqua; */
    align-items: center;
    text-align: center;
    font-size: 3rem;
}



.labelInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelInput label{
    font-size: 2rem;
}

.labelInput input{
    font-size: 2rem;
    padding: 5px;
}

.buttonUpdate{

    display: flex;
   
    width: 100%;
    justify-content: center;
    
    margin-top: 1rem; 

}

.buttonUpdate button{
    width: auto;
    font-size: 1.5rem;
    color:white;
    background-color: blue;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 3px 2px rgba(107, 106, 106,200);

}

.buttonVerifyEmail{
    display: flex;
   
    width: 100%;
    justify-content: center;
    /* background-color: black; */
    margin-top: 1rem; 
}


.buttonVerifyEmail button{
    width: auto;
    font-size: 1.5rem;
    color:black;
    background-color:transparent;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 3px 2px rgba(107, 106, 106,200);

}


.details ul {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.details ul li {
    list-style: none;
    margin: 10px 0;
}

.detailList {
    font-size: 2rem;
}

.profImg img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%; /* Optional: Make the image round */
    object-fit: cover; /* Optional: Prevent image distortion */
}
