

.navbar {
  background-color: black;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h3{
  color:rgba(255, 255, 255, 0.544);
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  margin:1%

}

.nav-links {
  display: flex;
  gap: 20px;
}

.logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.logout-btn:hover {
  background-color: #c82333;
}

/* Optional: Add styles for links */
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffc107; /* Change color on hover */
}


@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .navbar h3 {
    font-size: 1.2rem;
  }

  .nav-links {
    gap: 10px;
  }

  .logout-btn {
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 3px;
  }

  .nav-links a {
    font-size: 14px;
  }
}